
.menue {
	width:30%;
	font-family: "Sabon Regular", "Sabon Regular", Serif;
	font-size:12px;
	float: left;
	text-transform: uppercase;
	position: relative;
	top: 70px;
	left: 15px;
	text-decoration: none;
}
.logo {
	font-size: 19px;
	position: relative;
	text-decoration: none;
	display: block;
	left: 42px;
	line-height: 4;
}
.item {
	display:block;
	padding: 5px 5px 5px 3px;
	position:relative;
	line-height: 1.4;
	font-size: 12px;
	font-family: "Sabon Regular", "Sabon Regular", Serif;
	text-decoration:none; 
}

.photo img{
	width: 40%;
}
.photo {
	width: 65%;
	position: relative;
	top: 90px;
	float:right;
	right: 135px;
}
.previous {
	position:relative;
	top: 90px;
	left: -67px;
	font-family: "Sabon Regular", Serif;
	font-size:13px;
}
.picture img {
	width:65%;
	
}
.picture {
	width: 65%;
	position: relative;
	top: 100px;
	float:right;
	right: 135px;
}
.landscape img {
	width: 40%
}
.landscape {
	position:relative;
	top: 490px;
	left: -65px;
	font-family: "Sabon Regular", Serif;
	font-size:13px;
	color: #808080;.
}
	
.vertical img {
	width: 40%;
}
.vertical {
	width: 65%;
	position: relative;
	top: 90px;
	float:right;
	right: 135px;
}
.architecture {
	width: 40%; 
}
.architecture {
	position:relative;
	top: 490px;
	left: -65px;
	font-family: "Sabon Regular", Serif;
	font-size:13px;
	color: #808080; 
}
.portrait {
	position:relative;
	top: 622px;
	left: -65px;
	font-family: "Sabon Regular", Serif;
	font-size:13px;
	color: #808080; 
}
.woods {
	position:relative;
	top: 490px;
	left: -65px;
	font-family: "Sabon Regular", Serif;
	font-size:13px;
	color: #808080; 
}
	
	


.text {
	width: 65%;
	position: relative;
	top: 90px;
	float:right;
	right: 135px;
	text-align: left; 
	font-family: "Sabon Regular", Serif;
	
}
h3 {
	width: 24%;
	float:right;
	position: relative; 
	top: 60px;

   
}
.contact {
	width: 24%;
	float:right;
	position: relative; 
	top: 70px;
	right: 10px;
    display: block;
    text-decoration:none;
}
	
	